<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title Dashboard Demo
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet",href="css/jquery.jq-dashboard.min.css")
    script(src="https://code.jquery.com/jquery-3.5.0.min.js")
    script(src="js/jquery.jq-dashboard.js")
    script(src="js/site.js")
  body.jq-dashboard
    include menu.pug
      
    include sidebar.pug
    include header.pug

    .jqd-content
      include crumbs.pug
      block content


