- var obj = {}
input#menu-collapse(type="checkbox")
nav.jqd-menu
  .mobile-nav
    label(for="menu-collapse")
      i.fa.fa-2.fa-bars
      span jq Dashboard
    
  ul
    li
      label
        i.fa.fa-home
        span 首頁
    li
      input(id="jq-m-2",type="checkbox")
      label(for="jq-m-2")
        i.fa.fa-book
        span Menu 2 中文
      ul
        li
          label
            i.fa.fa-certificate
            span Menu 2-1
        li
          input(id="jq-m-2-2",type="checkbox")
          label(for="jq-m-2-2")
            i.fa.fa-comment-o
            span Menu 2-2 中文
          ul
            li
              label
                i.fa.fa-ellipsis-h
                span Menu 2-2-1
            li
              label
                i.fa.fa-user
                span Menu 2-2-2
            li
              label
                i.fa.fa-coffee
                span Menu 2-2-3 中文 中文
        li
          label
            i.fa.fa-dashboard
            span Menu 2-3
    li
      label
        i.fa.fa-bell
        span Menu 3
    li
      label
        i.fa.fa-bug
        span DEBUG
    li
      label
        i.fa.fa-calendar
        span Menu 5
    li
      label
        i.fa.fa-database
        span Menu 6
      
    