aside.jqd-sidebar
  ul
    li
      label
        i.fa.fa-user
        span Sidebar item 1
    li
      label
        i.fa.fa-user
        span Sidebar item 2
    li
      label
        i.fa.fa-user
        span Sidebar item 3
    li
      label
        i.fa.fa-user
        span Sidebar item 3
